<div class="contents row">
  <%= form_tag('/outgoings', method: :post) do %>
    <br>
    <h3>
      支出を新規登録する
    </h3>
    <input placeholder="品目" type="string" name="item">
    <input placeholder="金額" type="integer" name="price">
    <input placeholder="購入場所" type="string" name="place">
    <input placeholder="Date" type="date" name="date">
    <input type="submit" value="SENT">
  <% end %>
</div>